body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* These are my own style changes */

/* This changes the header color for the modal to match the green for the button and changes the text to white*/
.modal-header {
  color: white;
  background-color: #198754;
}

/* This reduces the margin at the bottom to be 0 to make it look more centered and less spaced */
.card-title {
  margin-bottom: 0;
}