body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.modal-header {
  color: rgb(28, 145, 184);
  background-color: lightgray;
}

.btn-primary {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-primary:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.card-title {
  margin-bottom: 0;
}